<!DOCTYPE html>
<html>
  <head>
    <title>Catalyst</title>
    <link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/oh-shit/500/happy-crap-256.png"/>
    <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700|Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/embed.css' type='text/css'/>
    <link rel='stylesheet' href='/stylesheets/navbar.css' type='text/css'/>


<!--     <link rel='stylesheet' href='/css/tinder.css' type='text/css'/>
    <link rel='stylesheet' href='/css/login.css' type='text/css'/>
    <link rel='stylesheet' href='/css/carousel.css' type='text/css'/>
    <link rel='stylesheet' href='/css/misc.css' type='text/css'/>
    <link rel='stylesheet' href='/css/buttons.css' type='text/css'/>
    <link rel='stylesheet' href='/css/grid.css' type='text/css'/> -->
  </head>
  <body>
    <div id="page-wrap">
      <div id="content"></div>
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

  <script type="text/babel" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1beta/cast_sender.js"></script>
</html>

