<!DOCTYPE html>
<html>
  <head>
    <title>Catalyst</title>
    <link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/oh-shit/500/happy-crap-256.png"/>
    <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700|Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/embed.css' type='text/css'/>
    <link rel='stylesheet' href='/stylesheets/navbar.css' type='text/css'/>
    <link rel='stylesheet' href='/stylesheets/feed.css' type='text/css'/>
    <link rel='stylesheet' href='/stylesheets/login.css' type='text/css'/>
    <link rel='stylesheet' href='/stylesheets/carousel.css' type='text/css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!--     <link rel='stylesheet' href='/css/tinder.css' type='text/css'/>
    <link rel='stylesheet' href='/css/login.css' type='text/css'/>
    <link rel='stylesheet' href='/css/carousel.css' type='text/css'/>
    <link rel='stylesheet' href='/css/misc.css' type='text/css'/>
    <link rel='stylesheet' href='/css/buttons.css' type='text/css'/>
    <link rel='stylesheet' href='/css/grid.css' type='text/css'/> -->
  </head>
  <body>
    <div id="page-wrap">
      <div id="content"></div>
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.13/d3.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>

  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1beta/cast_sender.js"></script>
</html>

