.add-article {
  position: fixed;
  bottom: 7%;
  right: 7%;
  background: #333;
    transition: background-color .2s ease-in-out;
   -moz-transition: background-color .2s ease-in-out;
   -webkit-transition: background-color .2s ease-in-out;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: none;
  font-size: 30px;
  text-align: center;
  text-decoration: bold;
  color: #fff;
  text-shadow: 2px 2px #333;
  box-shadow: 5px 5px 10px #333;
}

.add-article:hover {
  background-color: #428F89;
  text-shadow: 2px 2px #428F89;
}

.add-article:active {
  background-color: #428F89;
  text-shadow: 2px 2px #428F89;
}


input:focus, button:focus {
	outline: 0;
}

button, input {
	font-family: 'Old Standard TT', serif;
}


div#embed-form {
	width: 100%;
  height: 100%;
	text-align: center;
/*	margin: 25% 25% 0;
*/  position: relative;
  z-index: 1;
  background: rgba(170,170,170,0.85);
  padding: 1% 0 2%;
  border-radius: 1%;
  overflow: visible;
  display: inline-block;
}

.embed-code {
	border: none;
  border-bottom: solid 0.1vw #c9c9c9;
  transition: border 0.1s;
  font-size: 1.5vw;
  width: 60%;
  text-align: center;
  margin: 2vw;
  padding: 0.2vw;
}


div.embed-button {
	display: inline-block;
	margin: 0 0.5vw;
}

button#embed-upload {
	background-size: 2vw 2vw;
	background-position: 0.6vw 0.3vw;
  width: 7vw;
  cursor: pointer;
  border-radius: 4.5vw;
  padding: 0.6vw 0 0.6vw 0;
  color: white;
  font-size: 1vw;
  text-align: left;
  text-indent: 2.8vw;
  display: block;
  margin: 0 auto;
  border: none;
 
  /* Animations: */
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

button#embed-upload:hover {
/*  background-image: url('/img/openlock.png');
*/  background-color: #EEEEEE;
  color: black;
  background-size: 2vw 2vw;
  background-position: 4.5vw 0.3vw;
  text-indent: 1vw;  
}

div#embed-background-grid {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

div#inspirationslist {
  text-align: center;
  width: 100%;
}

div.inspirations-div-class iframe {
  width: 300px;
  height: 100px;
}

div.inspirations-div-class a img{
  width: 300px;
  height: 100px;
}

/*table#feedItems td {
  width: 25vw !important;
  height: 15vw !important;
  border: none;
}*/

.my-gallery-class {
  position: relative;
  display: inline-block;
  padding-left: 7vw;
  margin-top: 10px;
  width: 100%;
}

.inspirations-div-class {
    border: 2px solid black;
    padding-top: 5px;
    margin-left: 10px;
}