.images{ 
	height: 5px;
}

#title {
    box-sizing: border-box;
    padding: 10px;
  height: 100%;
  width: 100%;
  font-size: 18px;
  background: #428F89;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
  margin-bottom: 0;
}

div#feed {
	text-align: center;
	width: 100%;
}

div.image-div-class iframe {
	width: 300px;
  padding-bottom: 10px;
}

div.image-div-class a img{
  width: 300px;
  padding-bottom: 10px;
}

.my-gallery-class {
	position: relative;
	display: inline-block;
	padding-left: 6vw;
	margin-top: 10px;
	width: 100%;
  height: auto;
}


.image-div-class {
  width: 300px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  margin-bottom: 10px;
  margin-left: 1.75%;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px 2px rgba(66,143,137,0.3);
  padding-bottom: 20px;
  border-radius: 3px;
}


/* ADD INSPIRATION BUTTON */

.button.add, .button.expand {
      height: 40px;
      width: 100px;
      float:right;
      background-color: #fff;
      outline: none;
      position: relative;
      display: inline-block;
      line-height: 10px;
      padding: 0 20px; 
}

.button.add {
  cursor: pointer;
  color: black;
}

.cardactionbar {
      user-select: none;
      position: absolute;
      bottom: 0;
      top: auto;
      left: 0; 
      right: 0;
      padding: 0 8px;
      border-top: 1px solid #E0E0E0;
      margin-bottom: 3px;
      box-sizing: border-box;
      height: 65px;
      transition: left 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
}
.button:active
{
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus
{
    outline: 0;
}    

/* Buttons and inputs */

button.button, input.button 
{ 
	cursor: pointer;
	overflow: visible; /* removes extra side spacing in IE */
}

/* removes extra inner spacing in Firefox */
button::-moz-focus-inner 
{
  border: 0;
  padding: 0;
}

/* If line-height can't be modified, then fix Firefox spacing with padding */
 input::-moz-focus-inner 
{
  padding: .4em;
}

/* The disabled styles */
.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover 
{
	color: #aaa;
	cursor: default;
	text-shadow: none;
	position: static;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;		
}

/* css for carousel of images */ 
 
.react-lightbox {
  
}
 
.react-lightbox-image {
  float: left;
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
}

.react-lightbox-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(25,25,25,0.5) 0%,rgba(25,25,25,0.25) 100%);
  transition: opacity 0.5s ease-in-out;
}
 
.react-lightbox-overlay-open {
  opacity: 1;
}

.react-lightbox-carousel-image {
  position: absolute;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-size: cover;
  transition: transform 0.25s ease-in, opacity 0.25s ease-in;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 40px rgba(25, 25, 25, 0.5);
}
.react-lightbox-carousel-image-backward {
  transform: translate3d(-400px, 0, 0);
  opacity: 0;
}
.react-lightbox-carousel-image-forward {
  transform: translate3d(400px, 0, 0);
  opacity: 0;
}

.my-controls {
  position: absolute;
  width: 600px;
  height: 100px;
  text-align: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.my-button {
  font-size: 24px;
  background-color: #EAEAEA;
  border-radius: 50%;
  width: 50px;
  line-height: 50px;
  height: 50px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Arial Black';
  opacity: 0.8;
}

.my-button:hover {
  background-color: #FFF;
}
.my-button-left {
  float: left;
}
.my-button-right {
  float: right;
}

/*css for the enhanced view of a view*/
.upclose{ 
  position: relative;
  width:100%;
}

.upclose iframe {
  width: 55vw;
}

/*For the tree*/
text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.name {
  font-weight: bold;
}

.about {
  fill: #777;
  font-size: smaller;
}

.link {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.button.add, .button.expand {
      height: 40px;
      width: 100px;
      float:right;
      background-color: #fff;
      outline: none;
      position: relative;
      display: inline-block;
      line-height: 10px;
      padding: 0 20px; 
}

#title {
    box-sizing: border-box;
    padding: 10px;
  height: 100%;
  width: 100%;
  font-size: 18px;
  background: #428F89;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
  margin-bottom: 0;
}

div.image-div-class iframe {
  width: 300px;
  padding-bottom: 10px;
}

div.image-div-class a img{
  width: 300px;
  padding-bottom: 10px;
}

.my-gallery-class {
  position: relative;
  display: inline-block;
  padding-left: 6vw;
  margin-top: 10px;
  width: 100%;
}

.image-div-class {
  width: 300px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  margin-bottom: 10px;
  margin-left: 1.5%;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px 2px rgba(66,143,137,0.3);
  padding-bottom: 20px;
  border-radius: 3px;
}

div#search{  
  text-align: center;
  width: 100%;
}

div#searchbar{ 
  width: 100%;
  text-align: center;

}

.react-search__menu-items{ 
  display: none; 
}

input {
  outline: none;
}

.searchcontainer {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

.react-search__input {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 300px; 

  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.react-search__input:focus {
  width: 300px;
  background-color: #fff;
  border-color: #66CC75;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}


.panel-body img{ 
  position: relative;
  float: right;
  width: 3%;

}



.stuff {
  border: solid 1px #ccc;
  cursor: pointer;
}

.input_wrapper2 {
  position: relative;
}

.input_wrapper2 input[type="text"] {
  margin-top: 1em;
  display: block;
  width: 100%;
  background: white;
  border: 1px solid #DADADA;
  box-shadow: 0 0 1px 0 #E4E4E4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #5E5E5E;
  text-indent: 15%;
}
.input_wrapper2 input[type="text"]:focus {
  background: rgba(51, 51, 51, 0.05);
  box-shadow: inset 2px 2px 5px 0 #DADADA;
  outline: none;
  text-indent: 0;
}
.input_wrapper2 label {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #428F89;
  color: white;
  box-sizing: border-box;
  width: 35%;
  text-align: center;
  line-height: 2.8em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.input_wrapper2 input[type="text"]:focus + label {
  left: 85%;
}