/*--------------------------------------------------------------
1.1 - CLEARFIX
--------------------------------------------------------------*/
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}


/*--------------------------------------------------------------
2.0 - WIDGET
--------------------------------------------------------------*/
.twitter-widget {
    color: #428F89;
    left:10%;
    margin: -125px 0 0 0;
    position: absolute;
    top:25%;
    width:80%;
    box-shadow: 1px 1px 16px rgba(0,0,0,.58);
    border-radius:2px;
}

/*--------------------------------------------------------------
2.1 - WIDGET HEADER
--------------------------------------------------------------*/
.header {
    background-color: #428F89;
    color: #fdfdfd;
    padding: 18px 28px 20px;
    border-radius:2px 2px 0 0;
}
.avatar {
    border: 4px solid #428F89;
    border-top-width:3px;
    float: left;
    margin-right: 16px;
    position: relative;
    border-radius: 2px
}
    .avatar::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .avatar img {
        width: 50px;
        height: 50px;
        display: block;
    }
.header h2, .header p {
    float: left;
    width:288px;
}
    .header h2 {
        font-size:26px;
        line-height: 32px;
        margin: 10px 0 8px
    }

/*--------------------------------------------------------------
2.2 - WIDGET STATS
--------------------------------------------------------------*/
.stats {
    background: rgb(243,243,243);
    background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(236,236,237,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,1)), color-stop(100%,rgba(236,236,237,1)));
    background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,236,237,1) 100%);
    background: -o-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,236,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,236,237,1) 100%);
    background: linear-gradient(to bottom, rgba(243,243,243,1) 0%,rgba(236,236,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ececed',GradientType=0 );
    border-top:1px solid #fff;
    border-bottom: 1px solid #d4d4d4;
}
.stat {
    color: #4c4c4c;
    float:left;
    font-size: 14px;
    line-height: 17px;
    padding: 15px 0 14px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    width:148px;
}
    .stat:first-child{
        margin-left: 1px
    }
    .stat:hover {
        color: #747474
    }
.stat strong {
    display: block;
    font-size: 25px;
    line-height: 25px
}

/*--------------------------------------------------------------
2.3 - WIDGET MENU
--------------------------------------------------------------*/
.menu {
    background: rgb(236,236,236);
    background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(233,233,233,1) 86%, rgba(232,232,232,1) 94%, rgba(228,228,228,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(86%,rgba(233,233,233,1)), color-stop(94%,rgba(232,232,232,1)), color-stop(100%,rgba(228,228,228,1)));
    background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(233,233,233,1) 86%,rgba(232,232,232,1) 94%,rgba(228,228,228,1) 100%);
    background: -o-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(233,233,233,1) 86%,rgba(232,232,232,1) 94%,rgba(228,228,228,1) 100%);
    background: -ms-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(233,233,233,1) 86%,rgba(232,232,232,1) 94%,rgba(228,228,228,1) 100%);
    background: linear-gradient(to bottom, rgba(236,236,236,1) 0%,rgba(233,233,233,1) 86%,rgba(232,232,232,1) 94%,rgba(228,228,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#e4e4e4',GradientType=0 );
    border-top:1px solid #fff;
    border-radius:0 0 2px 2px;
    padding: 11px 0;
    text-align: center
}
.menu li {
    display:inline-block;
    margin: 0 34px
}
.menu a {
    background: url(http://cameronbaney.com/codepen/twitter-widget/icons.png) no-repeat;
    display:block;
    overflow: hidden;
    text-indent: -9999px
}
    .menu .ico-compose {
        background-position:-1px -2px;
        width: 25px;
        height: 26px;
    }
    .menu .ico-mentions {
        background-position: -31px -1px;
        width: 27px;
        height: 28px;
    }
    .menu .ico-profile {
        background-position: -65px -1px;
        width: 24px;
        height: 27px;
    }
    .menu .ico-settings {
        background-position: -97px -2px;
        width: 26px;
        height: 27px;
    }
    .menu a:hover {
        opacity:.75
    }


div#inspirationslist-myboard {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
}

.piece2 {
    width: 100%;
  border: 2px solid rgba(51,51,51,0.7);
  padding: 0;
  background-color: rgba(204,204,204,0.7);
  border-radius: 25px;
  box-shadow: 4px 4px 10px 2px rgba(66,143,137,0.3);

}

.panel-piece2 {
  cursor: pointer;
  height: 75px;
  width: 100%;

  margin: 0;
  padding:10px;

  color: #000;
  font-size:1em;
}

.deleteBoard {
    cursor: pointer;

  width:20px;
  height:20px;

  top: -30px;
  left: -15px;
  position: relative;
  z-index: 2;
  float: right; 
}