/*Navbar Stuff*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.linav {
    float: left;
}

li.linav a {
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.linav a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}