.navbar  {
    height: 75px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    border-right: 1px solid #333; 
}

#logo { 
    width: 5%;
    margin-left: 5%;
    padding: 8px;
    float: left;
 }

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.special-img 
{
    height: 30px;
    width: 30px;
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

.navbar li  {
    height: auto;
    float: left;  /* This lines up the menu items horizontally */
    text-align: center;  /* All text is placed in the center of the box */
    list-style: none;  /* Removes the default styling (bullets) for the list */
    padding: 0;
    margin: 0;
    background-color: #333;
}

.navbar li a   {  
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #333;
}

.navbar li ul    {
        z-index: 1;
        display: none;  /* Hides the drop-down menu */
        height: auto;                                   
        margin: 0; /* Aligns drop-down box underneath the menu item */
        padding: 0; /* Aligns drop-down box underneath the menu item */         
        }               

.navbar li:hover ul     {
                        display: block; /* Displays the drop-down box when the menu item is hovered over */
                        }


.Navbar   {
    width: 100%; /* Spans the width of the page */
    height: 50px; 
    margin: 0; /* Ensures there is no space between sides of the screen and the menu */
    z-index: 99; /* Makes sure that your menu remains on top of other page elements */
    position: relative; 
    background-color: #333;
    }

.Navbar {
  background: #333;
  width: auto;
}
.Navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.Navbar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.Navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.Navbar.align-right ul li {
  float: right;
}
.Navbar.align-center ul {
  text-align: center;
}
.Navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.Navbar ul li a:hover {
  color: #428F89;
}
.Navbar ul li a:hover:before {
  width: 100%;
}
.Navbar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.Navbar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #428F89;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
.Navbar ul li.last > a:after,
.Navbar ul li:last-child > a:after {
  display: none;
}
.Navbar ul li.active a {
  color: #428F89;
}
.Navbar ul li.active a:before {
  width: 100%;
}
.Navbar.align-right li.last > a:after,
.Navbar.align-right li:last-child > a:after {
  display: block;
}
.Navbar.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 680px) {
  ul.Navbar li:not(:first-child) {display: none;}
}

@media screen and (max-width:680px) {
  ul.Navbar.responsive {position: relative;}

  ul.Navbar.responsive li {
    float: none;
    display: inline;
  }
  ul.Navbar.responsive li a {
    display: block;
    text-align: left;
  }
}