.button.add, .button.expand {
      height: 40px;
      width: 100px;
      float:right;
      background-color: #fff;
      outline: none;
      position: relative;
      display: inline-block;
      line-height: 10px;
      padding: 0 20px; 
}

#title {
    box-sizing: border-box;
    padding: 10px;
  height: 100%;
  width: 100%;
  font-size: 18px;
  background: #428F89;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
  margin-bottom: 0;
}

div.image-div-class iframe {
  width: 300px;
  padding-bottom: 10px;
}

div.image-div-class a img{
  width: 300px;
  padding-bottom: 10px;
}

.my-gallery-class {
  position: relative;
  display: inline-block;
  padding-left: 6vw;
  margin-top: 10px;
  width: 100%;
}

.image-div-class {
  width: 300px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  margin-bottom: 10px;
  margin-left: 1.5%;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px 2px rgba(66,143,137,0.3);
  padding-bottom: 20px;
  border-radius: 3px;
}

div#search{  
  text-align: center;
  width: 100%;
}

div#searchbar{ 
  width: 100%;
  text-align: center;

}

.react-search__menu-items{ 
  display: none; 
}

input {
  outline: none;
}

input[type=text] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

input[type=text] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 300px; 

  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=text]:focus {
  width: 300px;
  background-color: #fff;
  border-color: #66CC75;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}
